<div class="col s12 <%= even ? 'm5 offset-m1' : 'm5' %>">
  <div class="card">
    <div class="card-image waves-effect waves-light">
      <%= image_tag(card.image, class: "activator") %>
    </div>
    <div class="card-content">
      <span class="card-title activator">
        <%= card.location %><i class="fa fa-ellipsis-v right"></i>
      </span>
      <p><%= card.years %></p>
    </div>
    <div class="card-reveal">
      <span class="card-title"><%= card.location %><i class="fa fa-times-circle right"></i></span>
      <p><%= card.para1 %></p>
      <p><%= card.para2 %></p>
      <p><%= card.para3 %></p>
    </div>
  </div>
</div>
