<section class="blog-font">
  <!--Intro Card-->
  <%= render 'intro_card' %>

  <div class="row col s12 m10 offset-m1 l8 offset-l2">
    <% @lifecards.each_with_index do |card, index| %>
      <%= render 'card', card: card, even: (index % 2 == 0) %>
    <% end %>
  </div>

  <div class="row center">
    <div class="divider"></div>
    <br/>
    <h2 class="light-blue-text">My Competencies</h2>
  </div>

  <%= render 'skill_type', skills: @languages %>
  <%= render 'skill_type', skills: @frameworks %>
  <%= render 'skill_type', skills: @libraries %>
  <%= render 'skill_type', skills: @databases %>
  <%= render 'skill_type', skills: @other %>

  <div class="row center">
    <%= link_to "View Projects", projects_path, class: "btn btn-large light-green waves-effect waves-orange" %>
  </div>
</section>
