<div id="index-banner" class="parallax-container center">
  <%= link_to "Portfolio", projects_path, id: "download-button", class: "btn-large waves-effect waves-light" %>
  <div class="parallax"><%= image_tag("home.jpg", alt: "Placeholder image", class: "responsive-img") %></div>
</div>

<div class="divider"></div>

<div class="row center">
  <div class="col s12">
    <h3>Top Competencies</h3>
  </div>
</div>

<!--Skills Card-->
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <table class="highlight centered">
          <thead>
            <tr>
              <th>Skill</th>
              <th>Rating</th>
            </tr>
          </thead>
  
          <tbody>
            <% @top_skills.each do |skill| %>
              <% p skill %>
              <tr>
                <td><%= skill.name %></td>
                <td><%= gen_stars(skill.rating) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col s12">
    <h3>Want to see all of my competencies?</h3>
    <br/>
    <%= link_to "Yes, take me there", about_path, class: "btn btn-large waves-effect" %>
  </div>
</div>
