<div class="row">
  <div class="col s12">
    <div class="col s12 l6 center">

      <a href="<%= project.live_link %>"><h2 class="project-header"><%= project.title %></h2></a>
      <p class="technology">(<%= project.category %>)</p>

      <br/>

      <ul class="collapsible left-align" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="fa fa-rocket" aria-hidden="true"></i> Launch Date</div>
          <div class="collapsible-body"><p><%= project.launched.strftime('%B, %Y') %></p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa fa-info-circle" aria-hidden="true"></i> Description</div>
          <div class="collapsible-body"><p><%= project.description %></p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fa fa-bars" aria-hidden="true"></i> Details</div>
          <div class="collapsible-body">
            <% project.points.each do |point| %>
              <p><%= point.body %></p>
            <% end %>
          </div>
        </li>
      </ul>

      <br/>

    </div>

    <div class="col s12 l6">
      <%= link_to image_tag(project.image, class: "responsive-img"), project.live_link, target: "_blank" %>
      <p class="flow-text center"><i class="fa fa-github"></i> <%= link_to "GitHub Repository", project.git_link %></p>
    </div>
  </div>
</div>
