<footer class="page-footer light-blue darken-2">
  <div class="container">
    <div class="row">
      
      <!--First Column Footer-->
      <div class="col l2 offset-l3 s12 center">
        <ul>
          <li><%= link_to "Projects", projects_path, class: "white-text" %></li>
          <li><%= link_to "About Me", about_path, class: "white-text" %></li>
        </ul>
      </div>
      
      <!--Second Column Footer-->
      <div class="col l2 offset-l2 s12 center">
        
        <%= link_to "https://github.com/kelsonic" do %>
          <i class="fa fa-github fa-2x"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
        
        <!--Facebook Link-->
        <%= link_to 'https://www.facebook.com/kelsonic' do %>
          <i class="fa fa-facebook fa-2x"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
        
        <!--Linkedin Link-->
        <%= link_to 'https://nl.linkedin.com/in/kelsonic' do %>
          <i class="fa fa-linkedin fa-2x"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
         
        <!--Linkedin Link-->
        <%= mail_to 'kgadams93@gmail.com' do %>
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="footer-copyright light-blue darken-4 center">
    <div class="container">
      Copyright &copy; 2016 Kelson Adams
    </div>
  </div>
</footer>