<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 center">

        <p><%= link_to "Projects", projects_path %> | <%= link_to "About Me", about_path %></p>
        
        <%= link_to "https://github.com/kelsonic" do %>
          <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
        
        <!--Facebook Link-->
        <%= link_to "https://www.facebook.com/kelsonic" do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
        
        <!--Linkedin Link-->
        <%= link_to "https://nl.linkedin.com/in/kelsonic" do %>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
         
        <!--Linkedin Link-->
        <%= mail_to "kgadams93@gmail.com" do %>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      Copyright &copy; 2017. Portfolio of Kelson Adams.
    </div>
  </div>
</footer>
